/* 

.nav-container{
    width: 100vw;
    height: 12vh;
    display: flex;
    padding-left: 50px;
    background-color: transparent;
    align-items: center;

}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
    padding-left: 40px;
    font-family: "Nunito";
}

.nav-links a{
     color:white;
     text-decoration: none;
}

.nav-container{
    position: absolute;
    
} */

nav{
    width: 100%;
    height: 10vh;
    position:fixed;
    display: flex;
    justify-content: left;
    background: rgba(0, 0, 0, 0.25);
    align-items: center;
    backdrop-filter:blur(10px);
    z-index: 1000;
}

nav img{
    padding-left: 20px;
}
.nav-container ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 70px;
    gap:20px;

}

.nav-container ul a{
    color: white;
    text-decoration: none;
    font-family: 'nunito';

}




