

.nav-container{
    width: 100vw;
    height: 12vh;
    display: flex;
    padding-left: 50px;
    background-color: transparent;
    align-items: center;

}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
    padding-left: 40px;
    font-family: "Nunito";
}

.nav-links a{
     color:white;
     text-decoration: none;
}

.nav-container{
    position: absolute;
    
}